body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container,
.container2 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.container2 {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

input[type="file"],
select {
    display: block;
    width: 100%;
    margin: 0 auto 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.result h2 {
    margin-bottom: 0.5rem;
    color: #333;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9rem;
    color: #333;
}

#loadingSpinner {
    position: center;
    top: 100%;
    left: 100%;
}

/* Styles ajoutés */
.list-container {
    display: flex;
    justify-content: space-between;
}

.list {
    border: 1px solid #ccc;
    padding: 10px;
}

.red {
    color: red;
}

div h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

input[type="file"] + input[type="file"] {
    margin-top: 1rem;
}

button + button {
    margin-top: 1rem;
    background-color: #28a745;
}

button + button:hover {
    background-color: #218838;
}

/* Ajoutez ces styles pour afficher les résultats côte à côte */
.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    width: calc(50% - 1rem); /* Chaque résultat prend la moitié de la largeur, en déduisant une marge */
    margin-bottom: 2rem;
}

/* Ajoutez ce style pour rendre les conteneurs flexibles */
@media (max-width: 768px) {
    .result {
        width: 100%;
    }
}
